

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');


.bor {
	border: solid red 1px;
}


* {
	box-sizing: border-box;
	font-size: 100%;
	background-color: #65B6BC;
	font-family: 'Balsamiq Sans', cursive;
}

.app {

	height: 100vh;
	width: 100vw;
}

.row {
	height: 100%;;
	padding-bottom: 2vw;
}



// @mixin media_xsm {
// 	@media (max-width: 575.98px) {
// 	*{
// 		font-size: 80%;
// 	}
// }

// }

// @mixin media_sm {
// 	@media (max-width: 767.98px) { @content; }
// }

// @mixin media_md {
// 	@media (max-width: 991.98px) { @content; }
// }

// @mixin media_lg {
// 	@media (max-width: 1199.98px) { @content; }
// }



@media (min-width: 0px) {
	* {
		font-size: 80%;
	}
}

@media (min-width: 384px) {
	* {
		font-size: 100%;
	}
}

@media (min-width: 576px) {
	* {
		font-size: 100%;
	}
}

@media (min-width: 768px) {
	* {
		font-size: 100%;
	}
}

@media (min-width: 992px) {
	* {
		font-size: 100%;
	}
}

@media (min-width: 1200px) {
	* {
		font-size: 100%;
	}
}