
@import './App.scss';



.right_card {
	height: 100%;
	margin-top: .8rem;
	border-radius: 2px;
	border: solid white;
	overflow: hidden !important;
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;


	div {
		background-color: transparent;
		padding-bottom: 2rem;
		z-index: 2;
		height: 100%;
		display: flex;
		flex-direction: column;


		.fontawsome {
			height: 15rem;

			i {
				background-color: transparent;
				color: white;
				font-size: 8rem;
				margin: 2rem 0rem;
				animation: zoomanimation 5s infinite linear alternate;
			}
		}


		@keyframes zoomanimation {
			0% {
				font-size: 11rem;
			}

			100% {
				font-size: 8rem;
			}
		}


		.weather_body{
			
			h1 {
				background-color: transparent;
				color: #65B6BC;
				font-size: 4rem;
				font-family: 'Lobster', cursive;
				margin-top: 2rem;
				margin-top: auto;
	
				span {
					background-color: transparent;
				}
			}
	
	
			h2 {
				background-color: transparent;
				color: #65B6BC;
				font-size: 4rem;
				font-family: 'Lobster', cursive;
				margin-top: 2rem;
	
				span {
					background-color: transparent;
				}
			}
	
	
			p {
				margin: 0 !important;
				color: grey;
				font-size: 1.5rem;
				background-color: transparent;
	
				span {
					background-color: transparent;
				}
			}
		}

	}


	.one {
		outline: none;
		border: none;
		margin-top: 4rem;
		border-radius: 42%;
		z-index: 1;
		background-color: white;
		width: 120rem;
		height: 120rem;
		position: absolute;
		top: 15rem;
		box-shadow: 0px 0px 10px 15px white;
		opacity: .5;
		margin-right: 10rem;
		animation: spin 19s infinite linear;
	}

	.two {
		outline: none;
		border: none;
		margin-top: 4rem;
		border-radius: 40%;
		z-index: 1;
		background-color: white;
		width: 120rem;
		height: 120rem;
		position: absolute;
		top: 15rem;
		box-shadow: 0px 0px 10px 15px white;
		opacity: .4;
		margin-left: 10rem;
		animation: spin 14s infinite linear;
	}

	.three {
		outline: none;
		border: none;
		margin-top: 4rem;
		border-radius: 45%;
		z-index: 1;
		background-color: white;
		width: 120rem;
		height: 120rem;
		position: absolute;
		top: 15rem;
		box-shadow: 0px 0px 10px 15px white;
		opacity: .2;
		margin-right: 10rem;
		animation: spino 10s infinite linear;
	}

	.four {
		outline: none;
		border: none;
		margin-top: 4rem;
		border-radius: 38%;
		z-index: 1;
		background-color: white;
		width: 120rem;
		height: 120rem;
		position: absolute;
		top: 15rem;
		box-shadow: 0px 0px 10px 15px white;
		opacity: .1;
		margin-left: 10rem;
		animation: spino 7s infinite linear;
	}


	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}
}


